# Data Science Pandas - Joins, Time Series & Rolling Statistics, SQL

## Tasks Today:

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Joins <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - merge() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Breaking Down the Inner Join <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Outer Joins <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Use Case Example <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Rolling Statistics and Time Series w/Pandas <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shift() <br>
 2) <b> SQL </b> <br>
      - Adding DataFrame to Database Table
      - Reading SQL Query Result into DataFrame

In [ ]:
import pandas as pd
import numpy as np

### Joins <br>
<p>Very often you will have to combine data from several different sources to obtain the actual dataset you need for your exploration or modeling. Pandas draws heavily on SQL in its API design for joins, and if you are familiar with SQL joins, then Pandas will come naturally. Imagine you have two tables, one with customer name and gender, and the other with their purchases:</p>

In [ ]:
# Generate some fake data

# Sample data for customers
customers_data = {
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Chicago', 'New York', 'Los Angeles', 'Chicago', 'Houston', 'New York'],
    'age': [25, 35, 30, 40, 45, 28, 39, 32, 41, 27]
}

<p>Let's assume we have a dataset containing the customer ID's cities, and ages for a set of customers. Suppose further, that we have a second table, containing some customer ID's, and a feedback survey rating from those customers. Suppose finally, that you as an analyst are asked the following question: What city tends to give the best feedback for our product? We'll need a join operation to get the answer.</p>

In [ ]:
# Sample data for feedback
feedback_data = {
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'rating': [5, 4, 3, 5, 4, 5, 3, 4, 5, 5]
}

In [ ]:
# Creating DataFrames
customers_df = pd.DataFrame(customers_data)
feedback_df = pd.DataFrame(feedback_data)

##### merge()

<p>We can zip the two dataframes up with an inner join, using the Pandas API as follows:</p>

In [ ]:
# Joining the two DataFrames
merged_df = pd.merge(customers_df, feedback_df, on='customer_id', how='inner')

merged_df

   customer_id         city  age  rating
0            1     New York   25       5
1            2  Los Angeles   35       4
2            3      Chicago   30       3
3            4      Houston   40       5
4            5      Chicago   45       4
5            6     New York   28       5
6            7  Los Angeles   39       3
7            8      Chicago   32       4
8            9      Houston   41       5
9           10     New York   27       5

**.join() method**

In [ ]:
# join() is used to combine two DataFrames on the index but not on
# columns whereas merge() is primarily used to specify the columns
# you wanted to join on, this also supports joining on indexes and combination of index and columns

<p>Now it's a simple groupby operation to reveal the answer:</p>

In [ ]:
# Calculating average rating by city
avg_rating_by_city = merged_df.groupby('city')['rating'].mean().reset_index()
avg_rating_by_city = avg_rating_by_city.rename(columns={'rating': 'avg_rating'})

In [ ]:
# Sorting by average rating
avg_rating_by_city = avg_rating_by_city.sort_values(by='avg_rating', ascending=False)

print(avg_rating_by_city)

          city  avg_rating
1      Houston    5.000000
3     New York    5.000000
0      Chicago    3.666667
2  Los Angeles    3.500000

But what if we didn't drop the customer_id duplicates...would we get the same city result??

What would be the total mean for the US customers?

##### Breaking Down the Inner Join <br>
<p>Let's take a closer look at the actual mechanics here however. There is some subtlety and nuance that is best understood by thinking of an inner join as two steps: a cartesian product, and then a filter. Observe the result of the following inner join:</p>

<p>Somehow, we ended up with more rows in the result than either of the original tables! This is because we joined on a $\textit{non-unique index}$. The join starts by computing all the possible combinations of rows, and then filters them based on the condition. Because of the duplicates, multiple combinations of rows make it through!</p>

### Outer Joins <br>
<p>An $\textit{outer join}$ produces all of the rows from the left table, and joins whatever rows it can to the right table, filling anywhere it cant with NaN's or None values. Below is a brief example, and then we will discuss a possible use case for this type of join.</p>

In [ ]:
# Sample data for customers
customers_data = {
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Chicago', 'New York', 'Los Angeles', 'Chicago', 'Houston', 'New York'],
    'age': [25, 35, 30, 40, 45, 28, 39, 32, 41, 27]
}

# Sample data for feedback
feedback_data = {
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'rating': [5, 4, 3, 5, 4, 5, 3, 4, 5, 5]
}

In [ ]:
#Creating DataFrames
customers_df = pd.DataFrame(customers_data)
feedback_df = pd.DataFrame(feedback_data)

In [ ]:
# Merge customers with feedback to get survey responders
survey_responders_df = pd.merge(customers_df, feedback_df, on='customer_id', how='inner')

In [ ]:
# LEFT JOIN MERGE

In [ ]:
# RIGHT JOIN MERGE

##### Use Case Example

<p>As an example use case, let's imagine we have again the demographics and survey response tables from above:</p>

<p>Now, you are asked as an analyst to compare the demographics of survey responders to the demographics of all your customers combined.</p>

In [ ]:
# Count all survey responders against the total number of customers we have
# (Specifically the customers that haven't taken the survey yet)
# Count all survey responders
total_survey_responders = len(survey_responders_df)

# Producing similar result with .count()

# Total number of customers
total_customers = len(customers_df)

# Number of customers who haven't taken the survey
customers_not_responded = total_customers - total_survey_responders

print("Total survey responders:", total_survey_responders)
print("Total customers:", total_customers)
print("Customers who haven't taken the survey yet:", customers_not_responded)

Total survey responders: 10
Total customers: 10
Customers who haven't taken the survey yet: 0

In [ ]:
# average age of people that answered the survey
# Average age of survey responders
average_age_survey_responders = survey_responders_df['age'].mean()

# Average age of customers who haven't taken the survey yet
customers_not_responded_df = customers_df[~customers_df['customer_id'].isin(feedback_df['customer_id'])] # Customers who haven't responded
average_age_customers_not_responded = customers_not_responded_df['age'].mean()

# demo_ratings_outer['customer_rating'] != 'N/A'

In [ ]:
# find the average age of people that did not answer the survey
print("\nAverage age of survey responders:", average_age_survey_responders)
print("Average age of customers who haven't taken the survey yet:", average_age_customers_not_responded)

Average age of survey responders: 34.2
Average age of customers who haven't taken the survey yet: nan

### Rolling Statistics and Time Series with Pandas

##### read_csv()

In [ ]:
import pandas as pd
import numpy as np

# Generate dates for the time series
dates = pd.date_range(start='2024-01-01', periods=20, freq='D')

# Generate random data for the time series
np.random.seed(0)  # for reproducibility
data = np.random.randint(0, 100, size=(20,))

# Create a DataFrame with dates as index and random data as the only column
time_series_df = pd.DataFrame(data, index=dates, columns=['Value'])

print(time_series_df)

            Value
2024-01-01     44
2024-01-02     47
2024-01-03     64
2024-01-04     67
2024-01-05     67
2024-01-06      9
2024-01-07     83
2024-01-08     21
2024-01-09     36
2024-01-10     87
2024-01-11     70
2024-01-12     88
2024-01-13     88
2024-01-14     12
2024-01-15     58
2024-01-16     65
2024-01-17     39
2024-01-18     87
2024-01-19     46
2024-01-20     88

##### shift() <br>
<p>Shift index by desired number of periods with an optional time freq</p>

In [ ]:
# Print all keys for easier use
import pandas as pd
import numpy as np

# Generate dates for the time series
dates = pd.date_range(start='2024-01-01', periods=20, freq='D')

# Generate random data for the time series
np.random.seed(0)  # for reproducibility
data = np.random.randint(0, 100, size=(20,))

# Create a DataFrame with dates as index and random data as the only column
time_series_df = pd.DataFrame(data, index=dates, columns=['Value'])

# Shift the values by one period
time_series_shifted = time_series_df.shift(periods=1)

print("Original Time Series:")
print(time_series_df)

print("\nShifted Time Series:")
print(time_series_shifted)

Original Time Series:
            Value
2024-01-01     44
2024-01-02     47
2024-01-03     64
2024-01-04     67
2024-01-05     67
2024-01-06      9
2024-01-07     83
2024-01-08     21
2024-01-09     36
2024-01-10     87
2024-01-11     70
2024-01-12     88
2024-01-13     88
2024-01-14     12
2024-01-15     58
2024-01-16     65
2024-01-17     39
2024-01-18     87
2024-01-19     46
2024-01-20     88

Shifted Time Series:
            Value
2024-01-01    NaN
2024-01-02   44.0
2024-01-03   47.0
2024-01-04   64.0
2024-01-05   67.0
2024-01-06   67.0
2024-01-07    9.0
2024-01-08   83.0
2024-01-09   21.0
2024-01-10   36.0
2024-01-11   87.0
2024-01-12   70.0
2024-01-13   88.0
2024-01-14   88.0
2024-01-15   12.0
2024-01-16   58.0
2024-01-17   65.0
2024-01-18   39.0
2024-01-19   87.0
2024-01-20   46.0

In [ ]:
# create a new column that takes the difference in temperature from the previous day as an absolute value

In [ ]:
# Pip install for both psycopg2 and SQLAlchemy
import sys
!{sys.executable} -m pip install psycopg2-binary SQLAlchemy # the -binary is for mac users

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 12.1 MB/s eta 0:00:00
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (3.0.3)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [ ]:
# databaselanguage(postgresql)://user:password@url:port/database_name
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# Function to create a new PostgreSQL database
def create_database():
    # Replace 'user', 'password', 'host', and 'port' with your PostgreSQL credentials
    conn = psycopg2.connect(
        user="user",
        password="password",
        host="host",
        port="port"
    )

    # Set autocommit to True
    conn.autocommit = True

    # Create a new database
    cur = conn.cursor()
    cur.execute("CREATE DATABASE your_database_name")
    conn.close()

    print("Database created successfully!")

In [ ]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Function to create a new PostgreSQL database
def create_database():
    # Replace 'user', 'password', 'host', and 'admin_port' with your PostgreSQL credentials
    conn = psycopg2.connect(
        user="user",
        password="password",
        host="host",
        port="admin_port"
    )

    # Set autocommit to True
    conn.autocommit = True

    # Create a new database
    cur = conn.cursor()
    cur.execute("CREATE DATABASE your_database_name")
    conn.close()

    print("Database created successfully!")

# Create a new database
create_database()

# Sample DataFrame
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df = pd.DataFrame(data)

# Database connection string
# Replace 'user', 'password', 'host', 'port', and 'your_database_name' with your PostgreSQL credentials
connection_string = 'postgresql://user:password@host:port/your_database_name'

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Write DataFrame to PostgreSQL database
df.to_sql('table_name', engine, if_exists='replace', index=False)

print("Data written to PostgreSQL database successfully!")

OperationalError: invalid integer value "admin_port" for connection option "port"